:root {
  --yellow-color: #FCB72B;
  --dark-navy: #495567;
  --dim-grey: #939CAA;
  --light-grey: #939CAA;
  --snow-color: #F2F5F9;
  --light-yellow: #FFF4DF;
}


@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'),
    url('../fonts/space-mono-v11-latin-700.woff') format('woff');
}

/* lexend-deca-regular - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/lexend-deca-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/lexend-deca-v16-latin-regular.woff') format('woff');
}

/* GENERAL */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}


/* STICKY-FOOTER */


.site-main {

  flex-grow: 1;
}

.site-header {
  padding: 22px 0;
}


.site-header__wrapper {
  display: flex;
  align-items: center;
}

.site-header__left {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 58px;
}

.site-header__list {
  display: flex;
  margin: 0;
  margin-left: -32px;
  padding-left: 0;
  list-style: none;
}

.site-header__item {
  margin-left: 32px;
}

.site-header__link {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: var(--light-grey);
  text-decoration: none;
}

.site-btns {
  display: inline-block;
  padding: 14px 39px;
  font-family: 'Space Mono';
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: var(--yellow-color);
  border: 3px solid transparent;
  transition: all 0.3s ease;
}

.site-btns:hover {
  color: var(--yellow-color);
  background-color: #fff;
  border-color: var(--yellow-color);
}

.site-header__btn {
  margin-left: auto;
}

/* Start About page Samandar */
.about-hero {
  overflow-x: hidden;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .about-top-box {
    background-image: url("../images/about-hero-bg@2x.png");
  }
}

.about-all-box {
  margin: 0;
  padding: 100px 0 0 0;

}

.about-top-box {
  position: relative;
  height: 200px;
  background-image: url("../images/about-hero-bg.png");
}

.about-top-box__title {
  position: absolute;
  top: 0%;
  font-family: 'Space Mono';
  left: calc(50% - 557px);
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.about-box {
  position: relative;
  margin-bottom: 100px;
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
}

.about-box:nth-child(2) {
  margin-bottom: 0;
}

.about-box__title-text {
  width: 445px;
  margin-right: 190px;
}

.about-box:nth-child(2) .about-box__title-text {
  margin-right: 0;
  margin-left: 190px;
}

.about-box__title {
  margin-bottom: 24px;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.about-box__text {
  margin-top: 0;
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--dim-grey);
}

.about-box__img-box {
  position: relative;
}

.about-box::after {
  position: absolute;
  right: -70%;
  top: 0%;
  width: 1078.79px;
  height: 445px;
  background-image: url("../images/mobility-yellow-line.svg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.about-box:nth-child(2):after {
  display: none;
}

.about-box:nth-child(2):before {
  display: block;
  position: absolute;
  top: -1%;
  left: -74%;
  background-image: url("../images/city-path.png");
  width: 1078.79px;
  height: 445px;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.our-box__title {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

/* End About section */
.hero {
  padding: 153px 0;
  background-image: url("../images/hero-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.hero__wrapper {
  position: relative;

}

.hero__wrapper::after {
  position: absolute;
  top: 72%;
  right: calc(50% - 930px);
  width: 234px;
  height: 62px;
  content: "";
  background-image: url("../images/hero-circle.svg");
}

.hero__heading {
  width: 500px;
}

.hero__title {
  margin-bottom: 40px;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #fff;
}



.hero__desc {
  position: relative;
  width: 405px;
}

.hero__desc::before {
  position: absolute;
  display: block;
  top: 31px;
  left: -84%;
  width: 203px;
  height: 15px;
  background-color: var(--yellow-color);
  content: "";
}

.hero__text {
  position: relative;
  right: -75px;
  margin-bottom: 40px;
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF
}

.hero__text::after {
  position: absolute;
  top: 44px;
  left: calc(50% + 250px);
  width: 450px;
  height: 138px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/hero-path.svg");
  content: "";
}

.hero__btn {
  position: relative;
  right: -75px;
}

.service {
  padding: 160px 0;
}

.service__list {
  position: relative;
  display: flex;
  margin-left: -30px;
  list-style: none;
}

.service__list::after {
  position: absolute;
  z-index: -1;
  top: 40px;
  left: -28%;
  width: 1150px;
  height: 15px;
  background-color: #e5ecf4;
  content: "";
}



.service__item {
  margin-left: 30px;
  width: 350px;
}

.service__item::before {
  display: block;
  margin-bottom: 40px;
  top: 0;
  width: 96px;
  height: 96px;
  content: "";
}

.service__item:first-child::before {
  background-image: url("../images/hero-app.svg");
}

.service__item:nth-child(2)::before {
  background-image: url("../images/hero-pick.svg");
}

.service__item:nth-child(3)::before {
  background-image: url("../images/hero-enjoy.svg");
}

.service__title {
  margin-bottom: 27px;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--dark-navy);
}

.service__box {
  width: 350px;
}

.service__text {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--light-grey);
}

.stages{
  padding-top: 40px;
  padding-bottom: 200px;
  overflow-x: hidden;
}

.stages__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.stages__item {
  position: relative;
  display: flex;
  align-items: center;
}

.stages__item::after {
  position: absolute;
  right: -46%;
  width: 1079px;
  height: 449px;
  background-image: url("../images/mobility-yellow-line.svg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}



.stages__item:nth-child(2)::after{
  right: 55%;
  background-image: url("../images/city-path.png");
}

.stages__item:nth-child(2){
  margin-top: 160px;
  margin-bottom: 160px;
}
.stages__item:nth-child(2) .stages__box{
  margin-right: 0;
  margin-left: 220px;
}

.stages__item:last-child::after{
  top: -1%;
  right: -60%;
  background-image: url("../images/payment-path.png");
}

.stages__box {
  width: 445px;
  margin-right: 220px;
}

.stages__title {
  margin-bottom: 24px;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--dark-navy);
}

.stages__text {
  margin-bottom: 40px;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--dim-grey);
}