

:root{
  --yellow-color:#FCB72B;
  --dark-navy:#495567;
  --dim-grey:#939CAA;
  --light-grey:#939CAA;
  --snow-color:#F2F5F9;
  --light-yellow:#FFF4DF;
}


@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'), 
  url('../fonts/space-mono-v11-latin-700.woff') format('woff'); 
}

/* lexend-deca-regular - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: 
  url('../fonts/lexend-deca-v16-latin-regular.woff2') format('woff2'),
  url('../fonts/lexend-deca-v16-latin-regular.woff') format('woff'); 
}

/* GENERAL */

*{
  box-sizing: border-box;
}

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}


.site-main{
  flex-grow: 1;
}

.site-header{
  padding: 22px 0;
}


.site-header__wrapper{
  display: flex;
  align-items: center;
}

.site-header__left{
  display: flex;
  align-items: center;
}

.logo{
  margin-right: 58px;
}

.site-header__list{
  display: flex;
  margin: 0;
  margin-left: -32px;
  padding-left: 0;
  list-style: none;
}

.site-header__item{
  margin-left: 32px;
}

.site-header__link{
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: var(--light-grey);
  text-decoration: none;
}
.site-btns{
  display: inline-block;
  padding: 14px 39px;
  font-family: 'Space Mono';
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: var(--yellow-color);
  border: 3px solid transparent;
  transition: all 0.3s ease;
}

.site-btns:hover{
  color: var(--yellow-color);
  background-color: #fff;
  border-color: var(--yellow-color);
}

.site-header__btn{
  margin-left: auto;
}

/* Start About page Samandar */
.about-hero{
  overflow-x: hidden;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .about-top-box{
    background-image: url("../images/about-hero-bg@2x.png");
  }  
}

.about-top-box{
  position: relative;
  height: 200px;
  background-image: url("../images/about-hero-bg.png");
}
.about-top-box__title{
  position: absolute;
  top: 0%;
  font-family: 'Space Mono';
  left: calc(50% - 557px);
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;  
  color: #FFFFFF;
}

.about-box{
  position: relative;
  padding-top: 100px;
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
}

.about-box__title-text{
  width: 445px;
  margin-right: 190px;
}
.about-box:nth-child(2) .about-box__title-text{
  margin-right: 0;
  margin-left: 190px;
}
.about-box__title{
  margin-bottom: 24px;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567; 
}
.about-box__text{
  margin-top: 0;
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--dim-grey);
}
.about-box__img-box{
  position: relative;
}
.about-box::after{
  position: absolute;
  right: -70%;
  top: 20%;
  width: 1078.79px;
  height: 445px;
  background-image: url("../images/mobility-yellow-line.svg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}
.about-box:nth-child(2):after{
  display: none;
}
.about-box:nth-child(2):before{
  display: block;
  position: absolute;
  top: 19%;
  left: -74%;
  background-image: url("../images/city-path.png");
  width: 1078.79px;
  height: 445px;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}